<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Bem-vindo ao nosso site!') }}</title>
</head>
<body>
    <header>
        <h1>{{ _('Bem-vindo ao nosso site!') }}</h1>
        <p>{{ _('Olá,') }} {{ username }}! {{ _('Seu papel é:') }} {{ role }}.</p>
    </header>

    <main>
        <h2>{{ _('Login') }}</h2>
        <a href="{{ url_for('login') }}">{{ _('Entrar') }}</a><br><br>

        <h2>{{ _('Registrar') }}</h2>
        <a href="{{ url_for('register') }}">{{ _('Registrar') }}</a><br><br>
    </main>

    <footer>
        <a href="{{ url_for('set_language', language='pt') }}" {% if g.locale == 'pt' %}style="font-weight: bold;"{% endif %}>Português</a> |
        <a href="{{ url_for('set_language', language='en') }}" {% if g.locale == 'en' %}style="font-weight: bold;"{% endif %}>English</a>
    </footer>
</body>
</html>
