<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Lista de Usuários') }}</title>
</head>
<body>
    <header>
        <h1>{{ _('Usuários Registrados') }}</h1>
    </header>
    <main>
        {% if users %}
            <ul>
            {% for user in users %}
                <li>{{ user }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ _('Não há usuários cadastrados.') }}</p>
        {% endif %}

        <!-- Exibição da paginação -->
        <div>
            <span>{{ _('Página') }} {{ pagination.page }} {{ _('de') }} {{ pagination.pages }}</span>
            <div>
                {% if pagination.has_prev %}
                    <a href="{{ url_for('users_page', page=1) }}">{{ _('Primeira') }}</a>
                    <a href="{{ url_for('users_page', page=pagination.prev_num) }}">{{ _('Anterior') }}</a>
                {% endif %}

                {% if pagination.has_next %}
                    <a href="{{ url_for('users_page', page=pagination.next_num) }}">{{ _('Próxima') }}</a>
                    <a href="{{ url_for('users_page', page=pagination.pages) }}">{{ _('Última') }}</a>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>
